@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked + #menu {
    display: block;
  }

  .banner-text {
    top: 50%;
    left:20%;
  }

  .sub-footer a {
    @apply hover:text-gray-200 p-4
  }

  .main-footer a {
    @apply hover:text-gray-300
  }

  .app-store-link a {
    @apply  p-2 border border-solid border-gray-200 text-gray-300 rounded-md hover:bg-yellow-500 hover:text-white
  }
