@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked + #menu {
    display: block;
  }

  .banner-text {
    top: 50%;
    left:20%;
  }

  .sub-footer a {
    @apply hover:text-gray-200 p-4
  }

  .main-footer a {
    @apply hover:text-gray-300
  }

  .app-store-link a {
    @apply  p-2 border border-solid border-gray-200 text-gray-300 rounded-md hover:bg-yellow-500 hover:text-white
  }

  .login-input {
    @apply focus:outline-none border border-solid border-yellow-600 rounded-md p-2 focus:ring-2 ring-yellow-500
  }

  .registration-field {
    @apply focus:outline-none border border-solid border-yellow-600 rounded-md p-2 focus:ring-2 ring-yellow-500 w-full
  }

  .nav-img {
    border-radius: 50%;
  }

  .navUserMenu {
    background-color: #1A415E;
    position: absolute;
    bottom: 0;
    transform: translate(6%, 100%);

  }

  .navUserBoutton {
    align-items: flex-end;
  }
